# Data Types/Structures

### * Numbers
### * String 
### * List
### * Tuple
### * Set
### * Dictionary

# Numbers

### Integers (int)

In [1]:
# Variable and data assignment
# a = variable
# 20 = data 

a = 20

In [2]:
a

20

In [3]:
# You can also print explicitly (recommended)
print (a)

20

### How to check the data type?

In [4]:
type(a)

int

# Float

In [1]:
# You can assign, print and check datatype in the same cell.
b = 10.0

print (b)

type(b)

10.0

float

### Let's do couple of mathematical operation.

In [2]:
a = 10
b = 20

In [3]:
c = a + b
print (c)

30

In [4]:
print (c * 10)

300

### Complex (We don't use this in our course)

In [5]:
c = 6+2j

type(c)

complex

### String

In [6]:
print ("Hello World")

Hello World

In [7]:
first_string = 'Python'
second_string = 'is a powerful'
third_string = 'Language'

In [8]:
type(first_string)

str

### Let's add the strings

In [9]:
print (first_string +  second_string + third_string)

Pythonis a powerfulLanguage

In [10]:
print ('Woww' + 'Python is' , 'Easy')

WowwPython is Easy

In [11]:
total_string = first_string+second_string+third_string

In [12]:
print (total_string)

Pythonis a powerfulLanguage

### Other operation on strings

In [13]:
print ('Day' * 5)

DayDayDayDayDay

In [14]:
print ('-' * 20)
print ('Woww Python')
print ('*' * 20)

--------------------
Woww Python
********************

In [15]:
print ('Day' + 5)

TypeError: can only concatenate str (not "int") to str

In [16]:
#print (int('Day') + 2)
print ('day' + str(2))

day2

### You can convert number into string datatype but not viceversa

# List

# Tuple

# Set

# Dictionary